<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/run"
        android:label="@string/app_name"
        android:roundIcon="@drawable/run"
        android:supportsRtl="true"
        android:theme="@style/Theme.Runners">

        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Features Auth -->
        <activity android:name=".features.auth.LoginActivity" android:exported="false" />
        <activity android:name=".features.auth.SingUpActivity" android:exported="false" />

        <!-- Features Search -->
        <activity
            android:name=".features.search.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Runners" />

        <!-- Features Home -->
        <activity
            android:name=".features.home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Runners" />

        <!-- Features Onboarding -->
        <activity
            android:name=".features.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Runners" />

        <!-- Features Activities -->
        <activity
            android:name=".features.activities.HistoryActivity"
            android:exported="false" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
